/*
public/portworx/pds/backupconfig/apiv1/backupconfig.proto

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: version not set
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package backupconfig

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BackupConfigServiceAPIService BackupConfigServiceAPI service
type BackupConfigServiceAPIService service

type ApiBackupConfigServiceCreateBackupConfigRequest struct {
	ctx context.Context
	ApiService *BackupConfigServiceAPIService
	projectId string
	backupConfigServiceCreateBackupConfigBody *BackupConfigServiceCreateBackupConfigBody
}

func (r ApiBackupConfigServiceCreateBackupConfigRequest) BackupConfigServiceCreateBackupConfigBody(backupConfigServiceCreateBackupConfigBody BackupConfigServiceCreateBackupConfigBody) ApiBackupConfigServiceCreateBackupConfigRequest {
	r.backupConfigServiceCreateBackupConfigBody = &backupConfigServiceCreateBackupConfigBody
	return r
}

func (r ApiBackupConfigServiceCreateBackupConfigRequest) Execute() (*V1BackupConfig, *http.Response, error) {
	return r.ApiService.BackupConfigServiceCreateBackupConfigExecute(r)
}

/*
BackupConfigServiceCreateBackupConfig CreateBackupConfig API creates the backup configuration of the backup.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId  The parent project id under which backup configuration will be created.
 @return ApiBackupConfigServiceCreateBackupConfigRequest
*/
func (a *BackupConfigServiceAPIService) BackupConfigServiceCreateBackupConfig(ctx context.Context, projectId string) ApiBackupConfigServiceCreateBackupConfigRequest {
	return ApiBackupConfigServiceCreateBackupConfigRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return V1BackupConfig
func (a *BackupConfigServiceAPIService) BackupConfigServiceCreateBackupConfigExecute(r ApiBackupConfigServiceCreateBackupConfigRequest) (*V1BackupConfig, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1BackupConfig
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupConfigServiceAPIService.BackupConfigServiceCreateBackupConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pds/v1/projects/{projectId}/backupConfigs"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.backupConfigServiceCreateBackupConfigBody == nil {
		return localVarReturnValue, nil, reportError("backupConfigServiceCreateBackupConfigBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.backupConfigServiceCreateBackupConfigBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GooglerpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBackupConfigServiceDeleteBackupConfigRequest struct {
	ctx context.Context
	ApiService *BackupConfigServiceAPIService
	id string
	force *bool
}

// Force flag to delete backup configuration from control plane only.
func (r ApiBackupConfigServiceDeleteBackupConfigRequest) Force(force bool) ApiBackupConfigServiceDeleteBackupConfigRequest {
	r.force = &force
	return r
}

func (r ApiBackupConfigServiceDeleteBackupConfigRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.BackupConfigServiceDeleteBackupConfigExecute(r)
}

/*
BackupConfigServiceDeleteBackupConfig DeleteBackupConfig API deletes the backup configuration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ID of the backup configuration.
 @return ApiBackupConfigServiceDeleteBackupConfigRequest
*/
func (a *BackupConfigServiceAPIService) BackupConfigServiceDeleteBackupConfig(ctx context.Context, id string) ApiBackupConfigServiceDeleteBackupConfigRequest {
	return ApiBackupConfigServiceDeleteBackupConfigRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *BackupConfigServiceAPIService) BackupConfigServiceDeleteBackupConfigExecute(r ApiBackupConfigServiceDeleteBackupConfigRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupConfigServiceAPIService.BackupConfigServiceDeleteBackupConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pds/v1/backupConfigs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GooglerpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBackupConfigServiceGetBackupConfigRequest struct {
	ctx context.Context
	ApiService *BackupConfigServiceAPIService
	id string
}

func (r ApiBackupConfigServiceGetBackupConfigRequest) Execute() (*V1BackupConfig, *http.Response, error) {
	return r.ApiService.BackupConfigServiceGetBackupConfigExecute(r)
}

/*
BackupConfigServiceGetBackupConfig GetBackupConfig API returns the the backup configuration resource.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ID of the backup configuration.
 @return ApiBackupConfigServiceGetBackupConfigRequest
*/
func (a *BackupConfigServiceAPIService) BackupConfigServiceGetBackupConfig(ctx context.Context, id string) ApiBackupConfigServiceGetBackupConfigRequest {
	return ApiBackupConfigServiceGetBackupConfigRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return V1BackupConfig
func (a *BackupConfigServiceAPIService) BackupConfigServiceGetBackupConfigExecute(r ApiBackupConfigServiceGetBackupConfigRequest) (*V1BackupConfig, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1BackupConfig
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupConfigServiceAPIService.BackupConfigServiceGetBackupConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pds/v1/backupConfigs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GooglerpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBackupConfigServiceListBackupConfigsRequest struct {
	ctx context.Context
	ApiService *BackupConfigServiceAPIService
	tenantId *string
	projectId *string
	targetClusterId *string
	namespaceId *string
	dataServiceDeploymentId *string
	paginationPageNumber *string
	paginationPageSize *string
	sortSortBy *string
	sortSortOrder *string
	suspended *string
}

// Tenant ID for which the backup configurations will be listed.
func (r ApiBackupConfigServiceListBackupConfigsRequest) TenantId(tenantId string) ApiBackupConfigServiceListBackupConfigsRequest {
	r.tenantId = &tenantId
	return r
}

// Project ID for which the backup configurations will be listed.
func (r ApiBackupConfigServiceListBackupConfigsRequest) ProjectId(projectId string) ApiBackupConfigServiceListBackupConfigsRequest {
	r.projectId = &projectId
	return r
}

// Cluster ID for which the backup configurations will be listed.
func (r ApiBackupConfigServiceListBackupConfigsRequest) TargetClusterId(targetClusterId string) ApiBackupConfigServiceListBackupConfigsRequest {
	r.targetClusterId = &targetClusterId
	return r
}

// Namespace ID for which the backup configurations will be listed.
func (r ApiBackupConfigServiceListBackupConfigsRequest) NamespaceId(namespaceId string) ApiBackupConfigServiceListBackupConfigsRequest {
	r.namespaceId = &namespaceId
	return r
}

// Data service Deployment ID for which the backup configurations will be listed.
func (r ApiBackupConfigServiceListBackupConfigsRequest) DataServiceDeploymentId(dataServiceDeploymentId string) ApiBackupConfigServiceListBackupConfigsRequest {
	r.dataServiceDeploymentId = &dataServiceDeploymentId
	return r
}

// Page number is the page number to return based on the size.
func (r ApiBackupConfigServiceListBackupConfigsRequest) PaginationPageNumber(paginationPageNumber string) ApiBackupConfigServiceListBackupConfigsRequest {
	r.paginationPageNumber = &paginationPageNumber
	return r
}

// Page size is the maximum number of records to include per page.
func (r ApiBackupConfigServiceListBackupConfigsRequest) PaginationPageSize(paginationPageSize string) ApiBackupConfigServiceListBackupConfigsRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Name of the attribute to sort results by.   - FIELD_UNSPECIFIED: Unspecified, do not use.  - NAME: Sorting based on the name of the resource.  - CREATED_AT: Sorting on create time of the resource.  - UPDATED_AT: Sorting on update time of the resource.  - PHASE: Sorting on phase of the resource.
func (r ApiBackupConfigServiceListBackupConfigsRequest) SortSortBy(sortSortBy string) ApiBackupConfigServiceListBackupConfigsRequest {
	r.sortSortBy = &sortSortBy
	return r
}

// Order of sorting to be applied on requested list. If sort_by having some value and sort_order is not provided, by default ascending order will be used to sort the list.   - VALUE_UNSPECIFIED: Unspecified, do not use.  - ASC: Sort order ascending.  - DESC: Sort order descending.
func (r ApiBackupConfigServiceListBackupConfigsRequest) SortSortOrder(sortSortOrder string) ApiBackupConfigServiceListBackupConfigsRequest {
	r.sortSortOrder = &sortSortOrder
	return r
}

// Filter backup configs based on suspended flag.   - BACKUP_CONFIG_SUSPENDED_UNSPECIFIED: List all backup configs.  - TRUE: List only suspended backup configs.  - FALSE: List only disabled backup configs.
func (r ApiBackupConfigServiceListBackupConfigsRequest) Suspended(suspended string) ApiBackupConfigServiceListBackupConfigsRequest {
	r.suspended = &suspended
	return r
}

func (r ApiBackupConfigServiceListBackupConfigsRequest) Execute() (*V1ListBackupConfigsResponse, *http.Response, error) {
	return r.ApiService.BackupConfigServiceListBackupConfigsExecute(r)
}

/*
BackupConfigServiceListBackupConfigs ListBackupConfigs API lists all the backup configuration for a data service deployment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBackupConfigServiceListBackupConfigsRequest
*/
func (a *BackupConfigServiceAPIService) BackupConfigServiceListBackupConfigs(ctx context.Context) ApiBackupConfigServiceListBackupConfigsRequest {
	return ApiBackupConfigServiceListBackupConfigsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1ListBackupConfigsResponse
func (a *BackupConfigServiceAPIService) BackupConfigServiceListBackupConfigsExecute(r ApiBackupConfigServiceListBackupConfigsRequest) (*V1ListBackupConfigsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1ListBackupConfigsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupConfigServiceAPIService.BackupConfigServiceListBackupConfigs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pds/v1/backupConfigs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "")
	}
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "")
	}
	if r.targetClusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetClusterId", r.targetClusterId, "")
	}
	if r.namespaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespaceId", r.namespaceId, "")
	}
	if r.dataServiceDeploymentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dataServiceDeploymentId", r.dataServiceDeploymentId, "")
	}
	if r.paginationPageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination.pageNumber", r.paginationPageNumber, "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination.pageSize", r.paginationPageSize, "")
	}
	if r.sortSortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort.sortBy", r.sortSortBy, "")
	} else {
		var defaultValue string = "FIELD_UNSPECIFIED"
		r.sortSortBy = &defaultValue
	}
	if r.sortSortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort.sortOrder", r.sortSortOrder, "")
	} else {
		var defaultValue string = "VALUE_UNSPECIFIED"
		r.sortSortOrder = &defaultValue
	}
	if r.suspended != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "suspended", r.suspended, "")
	} else {
		var defaultValue string = "BACKUP_CONFIG_SUSPENDED_UNSPECIFIED"
		r.suspended = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GooglerpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBackupConfigServiceUpdateBackupConfigRequest struct {
	ctx context.Context
	ApiService *BackupConfigServiceAPIService
	id string
	backupConfigServiceUpdateBackupConfigBody *BackupConfigServiceUpdateBackupConfigBody
}

func (r ApiBackupConfigServiceUpdateBackupConfigRequest) BackupConfigServiceUpdateBackupConfigBody(backupConfigServiceUpdateBackupConfigBody BackupConfigServiceUpdateBackupConfigBody) ApiBackupConfigServiceUpdateBackupConfigRequest {
	r.backupConfigServiceUpdateBackupConfigBody = &backupConfigServiceUpdateBackupConfigBody
	return r
}

func (r ApiBackupConfigServiceUpdateBackupConfigRequest) Execute() (*V1BackupConfig, *http.Response, error) {
	return r.ApiService.BackupConfigServiceUpdateBackupConfigExecute(r)
}

/*
BackupConfigServiceUpdateBackupConfig UpdateBackupConfig API updates the backup configuration of the backup.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ID of the backup configuration.
 @return ApiBackupConfigServiceUpdateBackupConfigRequest
*/
func (a *BackupConfigServiceAPIService) BackupConfigServiceUpdateBackupConfig(ctx context.Context, id string) ApiBackupConfigServiceUpdateBackupConfigRequest {
	return ApiBackupConfigServiceUpdateBackupConfigRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return V1BackupConfig
func (a *BackupConfigServiceAPIService) BackupConfigServiceUpdateBackupConfigExecute(r ApiBackupConfigServiceUpdateBackupConfigRequest) (*V1BackupConfig, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1BackupConfig
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupConfigServiceAPIService.BackupConfigServiceUpdateBackupConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pds/v1/backupConfigs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.backupConfigServiceUpdateBackupConfigBody == nil {
		return localVarReturnValue, nil, reportError("backupConfigServiceUpdateBackupConfigBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.backupConfigServiceUpdateBackupConfigBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GooglerpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
