# Need approval from these core developers before merging any change 
*.go @pure-px/torpedo-codeowners
.Makefile @mborodin_pure @aghodke_pure @chagupta_pure @aarunachalam_pure @dbhatnagar_pure
.Dockerfile @mborodin_pure @aghodke_pure @chagupta_pure @aarunachalam_pure @dbhatnagar_pure
