/*
public/portworx/platform/backuppolicy/apiv1/backuppolicy.proto

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: version not set
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package backuppolicy

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BackupPolicyServiceAPIService BackupPolicyServiceAPI service
type BackupPolicyServiceAPIService service

type ApiBackupPolicyServiceCreateBackupPolicyRequest struct {
	ctx context.Context
	ApiService *BackupPolicyServiceAPIService
	tenantId string
	v1BackupPolicy *V1BackupPolicy
}

// Backup Policy configuration.
func (r ApiBackupPolicyServiceCreateBackupPolicyRequest) V1BackupPolicy(v1BackupPolicy V1BackupPolicy) ApiBackupPolicyServiceCreateBackupPolicyRequest {
	r.v1BackupPolicy = &v1BackupPolicy
	return r
}

func (r ApiBackupPolicyServiceCreateBackupPolicyRequest) Execute() (*V1BackupPolicy, *http.Response, error) {
	return r.ApiService.BackupPolicyServiceCreateBackupPolicyExecute(r)
}

/*
BackupPolicyServiceCreateBackupPolicy Create API creates a backup policy for a tenant.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId The parent tenant id under which schedule will be created.
 @return ApiBackupPolicyServiceCreateBackupPolicyRequest
*/
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceCreateBackupPolicy(ctx context.Context, tenantId string) ApiBackupPolicyServiceCreateBackupPolicyRequest {
	return ApiBackupPolicyServiceCreateBackupPolicyRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return V1BackupPolicy
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceCreateBackupPolicyExecute(r ApiBackupPolicyServiceCreateBackupPolicyRequest) (*V1BackupPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1BackupPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupPolicyServiceAPIService.BackupPolicyServiceCreateBackupPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/core/v1/tenants/{tenantId}/backupPolicies"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.v1BackupPolicy == nil {
		return localVarReturnValue, nil, reportError("v1BackupPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.v1BackupPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v RpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBackupPolicyServiceDeleteBackupPolicyRequest struct {
	ctx context.Context
	ApiService *BackupPolicyServiceAPIService
	id string
}

func (r ApiBackupPolicyServiceDeleteBackupPolicyRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.BackupPolicyServiceDeleteBackupPolicyExecute(r)
}

/*
BackupPolicyServiceDeleteBackupPolicy Delete API deletes a backup policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ID of the backup policy.
 @return ApiBackupPolicyServiceDeleteBackupPolicyRequest
*/
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceDeleteBackupPolicy(ctx context.Context, id string) ApiBackupPolicyServiceDeleteBackupPolicyRequest {
	return ApiBackupPolicyServiceDeleteBackupPolicyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceDeleteBackupPolicyExecute(r ApiBackupPolicyServiceDeleteBackupPolicyRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupPolicyServiceAPIService.BackupPolicyServiceDeleteBackupPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/core/v1/backupPolicies/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v RpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBackupPolicyServiceGetBackupPolicyRequest struct {
	ctx context.Context
	ApiService *BackupPolicyServiceAPIService
	id string
}

func (r ApiBackupPolicyServiceGetBackupPolicyRequest) Execute() (*V1BackupPolicy, *http.Response, error) {
	return r.ApiService.BackupPolicyServiceGetBackupPolicyExecute(r)
}

/*
BackupPolicyServiceGetBackupPolicy Get API returns the backup policy for the given ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id ID of the schedule.
 @return ApiBackupPolicyServiceGetBackupPolicyRequest
*/
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceGetBackupPolicy(ctx context.Context, id string) ApiBackupPolicyServiceGetBackupPolicyRequest {
	return ApiBackupPolicyServiceGetBackupPolicyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return V1BackupPolicy
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceGetBackupPolicyExecute(r ApiBackupPolicyServiceGetBackupPolicyRequest) (*V1BackupPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1BackupPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupPolicyServiceAPIService.BackupPolicyServiceGetBackupPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/core/v1/backupPolicies/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v RpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBackupPolicyServiceListBackupPoliciesRequest struct {
	ctx context.Context
	ApiService *BackupPolicyServiceAPIService
	tenantId *string
	paginationPageNumber *string
	paginationPageSize *string
	sortSortBy *string
	sortSortOrder *string
	respData *string
}

// Tenant ID for which the backup policies will be listed.
func (r ApiBackupPolicyServiceListBackupPoliciesRequest) TenantId(tenantId string) ApiBackupPolicyServiceListBackupPoliciesRequest {
	r.tenantId = &tenantId
	return r
}

// Page number is the page number to return based on the size.
func (r ApiBackupPolicyServiceListBackupPoliciesRequest) PaginationPageNumber(paginationPageNumber string) ApiBackupPolicyServiceListBackupPoliciesRequest {
	r.paginationPageNumber = &paginationPageNumber
	return r
}

// Page size is the maximum number of records to include per page.
func (r ApiBackupPolicyServiceListBackupPoliciesRequest) PaginationPageSize(paginationPageSize string) ApiBackupPolicyServiceListBackupPoliciesRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Name of the attribute to sort results by.   - FIELD_UNSPECIFIED: Unspecified, do not use.  - NAME: Sorting based on the name of the resource.  - CREATED_AT: Sorting on create time of the resource.  - UPDATED_AT: Sorting on update time of the resource.  - PHASE: Sorting on phase of the resource.
func (r ApiBackupPolicyServiceListBackupPoliciesRequest) SortSortBy(sortSortBy string) ApiBackupPolicyServiceListBackupPoliciesRequest {
	r.sortSortBy = &sortSortBy
	return r
}

// Order of sorting to be applied on requested list. If sort_by having some value and sort_order is not provided, by default ascending order will be used to sort the list.   - VALUE_UNSPECIFIED: Unspecified, do not use.  - ASC: Sort order ascending.  - DESC: Sort order descending.
func (r ApiBackupPolicyServiceListBackupPoliciesRequest) SortSortOrder(sortSortOrder string) ApiBackupPolicyServiceListBackupPoliciesRequest {
	r.sortSortOrder = &sortSortOrder
	return r
}

// Response data flags for listing backup policies.   - RESP_DATA_UNSPECIFIED: RespData Unspecified. complete resource will be populated.  - INDEX: only uid, name, labels should be populated.  - LITE: only meta data should be populated.  - FULL: complete resource should be populated.
func (r ApiBackupPolicyServiceListBackupPoliciesRequest) RespData(respData string) ApiBackupPolicyServiceListBackupPoliciesRequest {
	r.respData = &respData
	return r
}

func (r ApiBackupPolicyServiceListBackupPoliciesRequest) Execute() (*V1ListBackupPoliciesResponse, *http.Response, error) {
	return r.ApiService.BackupPolicyServiceListBackupPoliciesExecute(r)
}

/*
BackupPolicyServiceListBackupPolicies List API lists all the backup policies for a tenant

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBackupPolicyServiceListBackupPoliciesRequest
*/
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceListBackupPolicies(ctx context.Context) ApiBackupPolicyServiceListBackupPoliciesRequest {
	return ApiBackupPolicyServiceListBackupPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1ListBackupPoliciesResponse
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceListBackupPoliciesExecute(r ApiBackupPolicyServiceListBackupPoliciesRequest) (*V1ListBackupPoliciesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1ListBackupPoliciesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupPolicyServiceAPIService.BackupPolicyServiceListBackupPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/core/v1/backupPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "")
	}
	if r.paginationPageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination.pageNumber", r.paginationPageNumber, "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination.pageSize", r.paginationPageSize, "")
	}
	if r.sortSortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort.sortBy", r.sortSortBy, "")
	} else {
		var defaultValue string = "FIELD_UNSPECIFIED"
		r.sortSortBy = &defaultValue
	}
	if r.sortSortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort.sortOrder", r.sortSortOrder, "")
	} else {
		var defaultValue string = "VALUE_UNSPECIFIED"
		r.sortSortOrder = &defaultValue
	}
	if r.respData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "respData", r.respData, "")
	} else {
		var defaultValue string = "RESP_DATA_UNSPECIFIED"
		r.respData = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v RpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBackupPolicyServiceListBackupPolicies2Request struct {
	ctx context.Context
	ApiService *BackupPolicyServiceAPIService
	v1ListBackupPoliciesRequest *V1ListBackupPoliciesRequest
}

// Request to list the backup policies for a tenant.
func (r ApiBackupPolicyServiceListBackupPolicies2Request) V1ListBackupPoliciesRequest(v1ListBackupPoliciesRequest V1ListBackupPoliciesRequest) ApiBackupPolicyServiceListBackupPolicies2Request {
	r.v1ListBackupPoliciesRequest = &v1ListBackupPoliciesRequest
	return r
}

func (r ApiBackupPolicyServiceListBackupPolicies2Request) Execute() (*V1ListBackupPoliciesResponse, *http.Response, error) {
	return r.ApiService.BackupPolicyServiceListBackupPolicies2Execute(r)
}

/*
BackupPolicyServiceListBackupPolicies2 List API lists all the backup policies for a tenant

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBackupPolicyServiceListBackupPolicies2Request
*/
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceListBackupPolicies2(ctx context.Context) ApiBackupPolicyServiceListBackupPolicies2Request {
	return ApiBackupPolicyServiceListBackupPolicies2Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1ListBackupPoliciesResponse
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceListBackupPolicies2Execute(r ApiBackupPolicyServiceListBackupPolicies2Request) (*V1ListBackupPoliciesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1ListBackupPoliciesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupPolicyServiceAPIService.BackupPolicyServiceListBackupPolicies2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/core/v1/backupPolicies:search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.v1ListBackupPoliciesRequest == nil {
		return localVarReturnValue, nil, reportError("v1ListBackupPoliciesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.v1ListBackupPoliciesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v RpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBackupPolicyServiceUpdateBackupPolicyMetaRequest struct {
	ctx context.Context
	ApiService *BackupPolicyServiceAPIService
	metaUid string
	metadataOfTheBackupPolicyToBeUpdated *MetadataOfTheBackupPolicyToBeUpdated
}

// Metadata of the backup policy to be updated.
func (r ApiBackupPolicyServiceUpdateBackupPolicyMetaRequest) MetadataOfTheBackupPolicyToBeUpdated(metadataOfTheBackupPolicyToBeUpdated MetadataOfTheBackupPolicyToBeUpdated) ApiBackupPolicyServiceUpdateBackupPolicyMetaRequest {
	r.metadataOfTheBackupPolicyToBeUpdated = &metadataOfTheBackupPolicyToBeUpdated
	return r
}

func (r ApiBackupPolicyServiceUpdateBackupPolicyMetaRequest) Execute() (*V1BackupPolicy, *http.Response, error) {
	return r.ApiService.BackupPolicyServiceUpdateBackupPolicyMetaExecute(r)
}

/*
BackupPolicyServiceUpdateBackupPolicyMeta Update API updates a the meta data of a backup policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param metaUid UID of the resource of the format <resource prefix>-<uuid>.
 @return ApiBackupPolicyServiceUpdateBackupPolicyMetaRequest
*/
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceUpdateBackupPolicyMeta(ctx context.Context, metaUid string) ApiBackupPolicyServiceUpdateBackupPolicyMetaRequest {
	return ApiBackupPolicyServiceUpdateBackupPolicyMetaRequest{
		ApiService: a,
		ctx: ctx,
		metaUid: metaUid,
	}
}

// Execute executes the request
//  @return V1BackupPolicy
func (a *BackupPolicyServiceAPIService) BackupPolicyServiceUpdateBackupPolicyMetaExecute(r ApiBackupPolicyServiceUpdateBackupPolicyMetaRequest) (*V1BackupPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1BackupPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackupPolicyServiceAPIService.BackupPolicyServiceUpdateBackupPolicyMeta")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/core/v1/backupPolicies/{meta.uid}:metaUpdate"
	localVarPath = strings.Replace(localVarPath, "{"+"meta.uid"+"}", url.PathEscape(parameterValueToString(r.metaUid, "metaUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.metadataOfTheBackupPolicyToBeUpdated == nil {
		return localVarReturnValue, nil, reportError("metadataOfTheBackupPolicyToBeUpdated is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.metadataOfTheBackupPolicyToBeUpdated
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v RpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
