/*
public/portworx/pds/dataservicedeploymentconfigupdate/apiv1/dataservicedeploymentconfigupdate.proto

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: version not set
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dataservicedeploymentconfigupdate

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DataServiceDeploymentConfigUpdateServiceAPIService DataServiceDeploymentConfigUpdateServiceAPI service
type DataServiceDeploymentConfigUpdateServiceAPIService service

type ApiDataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdateRequest struct {
	ctx context.Context
	ApiService *DataServiceDeploymentConfigUpdateServiceAPIService
	dataServiceDeploymentConfigUpdateConfigDataServiceDeploymentMetaUid string
	dataServiceDeploymentConfigUpdateOfTheDataServiceConfigDeploymentUpdateRequest *DataServiceDeploymentConfigUpdateOfTheDataServiceConfigDeploymentUpdateRequest
}

// DataServiceDeploymentConfigUpdate of the DataService config deployment update request.
func (r ApiDataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdateRequest) DataServiceDeploymentConfigUpdateOfTheDataServiceConfigDeploymentUpdateRequest(dataServiceDeploymentConfigUpdateOfTheDataServiceConfigDeploymentUpdateRequest DataServiceDeploymentConfigUpdateOfTheDataServiceConfigDeploymentUpdateRequest) ApiDataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdateRequest {
	r.dataServiceDeploymentConfigUpdateOfTheDataServiceConfigDeploymentUpdateRequest = &dataServiceDeploymentConfigUpdateOfTheDataServiceConfigDeploymentUpdateRequest
	return r
}

func (r ApiDataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdateRequest) Execute() (*V1DataServiceDeploymentConfigUpdate, *http.Response, error) {
	return r.ApiService.DataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdateExecute(r)
}

/*
DataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdate CreateDataServiceDeploymentConfigUpdate API creates config update for deployment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dataServiceDeploymentConfigUpdateConfigDataServiceDeploymentMetaUid UID of the resource of the format <resource prefix>-<uuid>.
 @return ApiDataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdateRequest
*/
func (a *DataServiceDeploymentConfigUpdateServiceAPIService) DataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdate(ctx context.Context, dataServiceDeploymentConfigUpdateConfigDataServiceDeploymentMetaUid string) ApiDataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdateRequest {
	return ApiDataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdateRequest{
		ApiService: a,
		ctx: ctx,
		dataServiceDeploymentConfigUpdateConfigDataServiceDeploymentMetaUid: dataServiceDeploymentConfigUpdateConfigDataServiceDeploymentMetaUid,
	}
}

// Execute executes the request
//  @return V1DataServiceDeploymentConfigUpdate
func (a *DataServiceDeploymentConfigUpdateServiceAPIService) DataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdateExecute(r ApiDataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdateRequest) (*V1DataServiceDeploymentConfigUpdate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1DataServiceDeploymentConfigUpdate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataServiceDeploymentConfigUpdateServiceAPIService.DataServiceDeploymentConfigUpdateServiceCreateDataServiceDeploymentConfigUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pds/v1/dataServiceDeployments/{dataServiceDeploymentConfigUpdate.config.dataServiceDeploymentMeta.uid}/dataServiceDeploymentConfigUpdates"
	localVarPath = strings.Replace(localVarPath, "{"+"dataServiceDeploymentConfigUpdate.config.dataServiceDeploymentMeta.uid"+"}", url.PathEscape(parameterValueToString(r.dataServiceDeploymentConfigUpdateConfigDataServiceDeploymentMetaUid, "dataServiceDeploymentConfigUpdateConfigDataServiceDeploymentMetaUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dataServiceDeploymentConfigUpdateOfTheDataServiceConfigDeploymentUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("dataServiceDeploymentConfigUpdateOfTheDataServiceConfigDeploymentUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dataServiceDeploymentConfigUpdateOfTheDataServiceConfigDeploymentUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GooglerpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdateRequest struct {
	ctx context.Context
	ApiService *DataServiceDeploymentConfigUpdateServiceAPIService
	id string
}

func (r ApiDataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdateRequest) Execute() (*V1DataServiceDeploymentConfigUpdate, *http.Response, error) {
	return r.ApiService.DataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdateExecute(r)
}

/*
DataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdate GetDataServiceDeploymentConfigUpdate API returns a DataService deployment config update by id.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id UID of the DataService deployment config update.
 @return ApiDataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdateRequest
*/
func (a *DataServiceDeploymentConfigUpdateServiceAPIService) DataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdate(ctx context.Context, id string) ApiDataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdateRequest {
	return ApiDataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return V1DataServiceDeploymentConfigUpdate
func (a *DataServiceDeploymentConfigUpdateServiceAPIService) DataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdateExecute(r ApiDataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdateRequest) (*V1DataServiceDeploymentConfigUpdate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1DataServiceDeploymentConfigUpdate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataServiceDeploymentConfigUpdateServiceAPIService.DataServiceDeploymentConfigUpdateServiceGetDataServiceDeploymentConfigUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pds/v1/dataServiceDeploymentConfigUpdates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GooglerpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest struct {
	ctx context.Context
	ApiService *DataServiceDeploymentConfigUpdateServiceAPIService
	dataServiceDeploymentId *string
	sortSortBy *string
	sortSortOrder *string
	paginationPageNumber *string
	paginationPageSize *string
}

// UID of the DataService Deployment.
func (r ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest) DataServiceDeploymentId(dataServiceDeploymentId string) ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest {
	r.dataServiceDeploymentId = &dataServiceDeploymentId
	return r
}

// Name of the attribute to sort results by.   - FIELD_UNSPECIFIED: Unspecified, do not use.  - NAME: Sorting based on the name of the resource.  - CREATED_AT: Sorting on create time of the resource.  - UPDATED_AT: Sorting on update time of the resource.  - PHASE: Sorting on phase of the resource.
func (r ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest) SortSortBy(sortSortBy string) ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest {
	r.sortSortBy = &sortSortBy
	return r
}

// Order of sorting to be applied on requested list. If sort_by having some value and sort_order is not provided, by default ascending order will be used to sort the list.   - VALUE_UNSPECIFIED: Unspecified, do not use.  - ASC: Sort order ascending.  - DESC: Sort order descending.
func (r ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest) SortSortOrder(sortSortOrder string) ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest {
	r.sortSortOrder = &sortSortOrder
	return r
}

// Page number is the page number to return based on the size.
func (r ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest) PaginationPageNumber(paginationPageNumber string) ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest {
	r.paginationPageNumber = &paginationPageNumber
	return r
}

// Page size is the maximum number of records to include per page.
func (r ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest) PaginationPageSize(paginationPageSize string) ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

func (r ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest) Execute() (*V1ListDataServiceDeploymentConfigUpdatesResponse, *http.Response, error) {
	return r.ApiService.DataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesExecute(r)
}

/*
DataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdates ListDataServiceDeploymentConfigUpdates API returns a list of data service deployment config updates.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest
*/
func (a *DataServiceDeploymentConfigUpdateServiceAPIService) DataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdates(ctx context.Context) ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest {
	return ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1ListDataServiceDeploymentConfigUpdatesResponse
func (a *DataServiceDeploymentConfigUpdateServiceAPIService) DataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesExecute(r ApiDataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdatesRequest) (*V1ListDataServiceDeploymentConfigUpdatesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1ListDataServiceDeploymentConfigUpdatesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataServiceDeploymentConfigUpdateServiceAPIService.DataServiceDeploymentConfigUpdateServiceListDataServiceDeploymentConfigUpdates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pds/v1/dataServiceDeploymentConfigUpdates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.dataServiceDeploymentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dataServiceDeploymentId", r.dataServiceDeploymentId, "")
	}
	if r.sortSortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort.sortBy", r.sortSortBy, "")
	} else {
		var defaultValue string = "FIELD_UNSPECIFIED"
		r.sortSortBy = &defaultValue
	}
	if r.sortSortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort.sortOrder", r.sortSortOrder, "")
	} else {
		var defaultValue string = "VALUE_UNSPECIFIED"
		r.sortSortOrder = &defaultValue
	}
	if r.paginationPageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination.pageNumber", r.paginationPageNumber, "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination.pageSize", r.paginationPageSize, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GooglerpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdateRequest struct {
	ctx context.Context
	ApiService *DataServiceDeploymentConfigUpdateServiceAPIService
	id string
	body *map[string]interface{}
}

func (r ApiDataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdateRequest) Body(body map[string]interface{}) ApiDataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdateRequest {
	r.body = &body
	return r
}

func (r ApiDataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdateRequest) Execute() (*V1DataServiceDeploymentConfigUpdate, *http.Response, error) {
	return r.ApiService.DataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdateExecute(r)
}

/*
DataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdate RetryDataServiceDeploymentConfigUpdate API retries a data service deployment config update.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id UID of the DataService deployment config update.
 @return ApiDataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdateRequest
*/
func (a *DataServiceDeploymentConfigUpdateServiceAPIService) DataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdate(ctx context.Context, id string) ApiDataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdateRequest {
	return ApiDataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return V1DataServiceDeploymentConfigUpdate
func (a *DataServiceDeploymentConfigUpdateServiceAPIService) DataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdateExecute(r ApiDataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdateRequest) (*V1DataServiceDeploymentConfigUpdate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1DataServiceDeploymentConfigUpdate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataServiceDeploymentConfigUpdateServiceAPIService.DataServiceDeploymentConfigUpdateServiceRetryDataServiceDeploymentConfigUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pds/v1/dataServiceDeploymentConfigUpdates/{id}:retry"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GooglerpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
